*{
    margin: 0;
    padding: 0;
}

.publish_text{
    width: 710px;
    height: 120px;
    margin-left: 300px;
}

.pub_tex1{
    width: 710px;
    height: 75px;
    background-color: white;
}


.text_area{
    width: 650px;
    height: 75px;
}

.pub_img{
    display: block;
    width: 40px;
    height: 100px;
    top: 10px;
    right: 10px;
    position: absolute;
}


.text_pub input{
    width: 80px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 80px;
}

.pub_img input{
    /*border: 1px solid red;*/
    background: url('../images/35.32-yoo190131143813.png');
}

.lmlblog-no-like{
    background: url('../images/35.32-yoo190131143813.png')-50px -25px;
}

.lmlblog-no-like1 i{
    /*相机*/
    /*background: url('../images/35.32-yoo190131143813.png')-2px 40px;*/
    background: url('../images/35.32-yoo190131143813.png')-2px -405px;
}
.lmlblog-no-like1:hover{
    color: red;
}




