{% extends 'parent_template.html' %}
{% load staticfiles %}
{% block activate1 %}
    class="on"
{% endblock %}
{% block show %}
    <link rel="stylesheet" href="{% static 'index/css/index.css' %}">
    <script src="{% static 'index/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'index/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'index/js/bootstrap.js' %}"></script>
        <script src="{% static 'index/js/index.js' %}"></script>
    <div class="lmlblog-member-content-list clear">
        <div class="lmlblog-member-left">
            {# 热度信息#}
            <div class="lmlblog-member-left-follow clear">
                {% for foo in heat %}
                    <li>
                        <strong>168</strong>
                        <span>关注</span>
                    </li>
                {% endfor %}

            </div>

            {# 背景音乐 #}
            <div class="lmlblog-member-left-bg-music clear">
                <h3>背景音乐</h3>
                <div id="lmlblog-memeber-bg-music" class="aplayer"></div>
                <img src="http://wx2.sinaimg.cn/large/9c774d91gy1ft4lhr5vbmg20jp08okbw.gif" alt="司空琪">
                <audio src="https://img.jinsom.cn/user_files/12551/bg-music/music_1530776683.mp3" autoplay
                       controls></audio>
            </div>

            {# 个人资料 #}
            <div class="lmlblog-member-left-profile">
                <h3>资料简介</h3>
                <li><i class="fa fa-address-book-o"></i> I D：<span>520<span></li>
                <li><i class="fa fa-transgender"></i> 性别：<span>女生<span></li>
                <li><i class="fa fa-map-marker"></i> 城市：<span>画江湖 司空家<span></li>
                <li><i class="fa fa-smile-o"></i> 签名：<span>坚强勇敢，利落干脆。冰雪聪明，明眸善睐。重情重义，侠骨柔情。<span></li>
                <div class="lmlblog-member-left-profile-hide">
                    <li><i class="fa fa-qq"></i> Q Q：<span>sikongqi<span></li>
                    <li><i class="fa fa-wechat"></i> 微信：<span>天涯路远，一剑轻安。携琪之手，相伴江湖<span></li>
                    <li><i class="fa fa-weibo"></i> 微博：<span>司空琪吧官博<span></li>
                    <li><i class="fa fa-clock-o"></i> 生日：<span>2月15日<span></li>
                </div>
                <div class="lmlblog-member-left-profile-more">查看更多 <i class="fa fa-angle-right"></i></div>
            </div>

            {# 最近访客 #}
            <div class="lmlblog-member-left-visitor clear">
                <h3>最近访客</h3>
                {% for foo in guest %}
                    {% if foo == 10 %}
                        <li><a href="#1" title="访问时间：22分钟前"><span class="lmlblog-vip-icon"></span><img
                                src="picture/1.gif" class="avatar"/>
                            <p>born</p></a></li>
                    {% else %}
                        <li><a href="#1" title="访问时间：22分钟前"><img src="picture/1.gif" class="avatar"/>
                            <p>born</p></a></li>
                    {% endif %}

                {% endfor %}


            </div>

            {# 相关推荐 #}
            <div class="lmlblog-member-left-bg-xg clear">
                <h3>相关推荐</h3>
                <div id="lmlblog-memeber-bg-xg" class="aplayer"></div>
                <a href="http://www.lmlblog.com/blog/yanlingjiao/1.html" target="_blank"><h2>燕凌姣个人主页</h2>
                    <img src="http://www.lmlblog.com/blog/yanlingjiao/images/jiao8.jpg" alt="燕凌姣个人主页">
                    <p>　　一袭蓝衣亭亭玉立，姣若春梅绽雪，神如月射寒江，香培玉琢、英姿飒爽;其静兰生幽谷，其动若飞若扬，性格大气坚毅、疏朗开阔，举止敢爱敢恨、聪明磊落...他就是燕凌姣</p></a>
            </div>
        </div>
    <form action="{% url 'body:publish' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="publish_text" style="left: 18px;position: relative;">
            <div class="pub_tex1">
             <textarea  class="text_area" placeholder="说点儿什么吧"
      rows="1" name="d_content" style="border-bottom: none;"></textarea>
                <img src="" alt="" class="pub_img1">
                <input type="file" class="pub_img" name="d_picture" multiple="" style="display: none;">
            </div>
            <div class="text_pub" style="width: 711px;height: 42px;background:white;border-top: 1px silver solid;display: none;">

               <input type="submit" value="发表" class="pub_tex2">
            </div>
        </div>
    </form>
        <div class="lmlblog-member-right">
            <div class="lmlblog-post-list">
                {# 文章展示 #}
            {% load get_user %}
                {% for dyns in info %}

                    <div class="lmlblog-posts-list words">

                        <!-- 动态内容部分，包括列表 -->
                        <div class="lmlblog-post-user-info"><div class="lmlblog-post-user-info-avatar" user-data="1">
                                <a href="#1" style="display: inline-block;">
                                    <span class="lmlblog-vip-icon" ></span><img src="images/tx2.jpg" class="avatar"/><i
                                        class="lmlblog-verify lmlblog-verify-a" title="{{ dyns.user_id_id|get_user }}"></i></a>
                                <div class="lmlblog-user-info-card">
                                    <div class="info_card_loading" style="border: 1px solid red;"><img src="picture/chat-loading.gif">
                                        <p>资料加载中...</p>
                                    </div>
                                </div>
                            </div>

                            <div class="lmlblog-post-user-info-name">
                                <a href="#1">
                                    <span>{{ dyns.user_id_id|get_user }}</span>
                                </a>
                                <span class="lmlblog-mark lmlblog-lv" title="经验：3815">Lv.{{ dyns.user_id_id|get_one_level }}</span><span
                                    class="lmlblog-mark lmlblog-vip">VIP {{ dyns.user_id_id|get_member }}</span>
                            </div>
                            <div class="lmlblog-post-user-info-time" title="{{ dyns.d_time|timesince }}">{{ dyns.d_time|timesince }}</div>
                        </div><!-- 作者信息 -->
                        <div class="lmlblog-post-setting">
                            <i class="fa fa-angle-down"></i>
                            <div class="lmlblog-post-setting-box">
                                <ul style="width: 200px;height: 200px;border: 1px solid red;">

                                    <li><a href="#" title="查看全文"></a></li>
                                    <li><a href="#" title="访问主页"></a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="lmlblog-post-content ">
                            <span class="post_list_link">

                            {% if dyns.id|get_content %}
                                <p><a href="#" style="font-family: 楷体;font-size: 20px;">{{ dyns.new_content }}</a></p>
                                <br>
                                <p><a href="#" style="font-family: 楷体;font-size: 20px">{{ dyns.d_content }}</a></p>
                                {% else %}


                                <a href="#" style="font-family: 楷体;font-size: 20px">{{ dyns.d_content }}</a>

                            {% endif %}

                            </span>


                                {% for foo in dyns.id|get_picture %}
                                  <a href="#">  <img src="{{ MEDIA_URL }}{{ foo }}" alt="" width="150" height="150" style="border: 1px silver solid;"> </a>
                                {% endfor %}


                        </div>

                        <div class="lmlblog-post-bar">
                            <ul>
                                <li>
                                    {% if u.id|thumps_up:dyns.id %}
                                    <a href="{% url 'body:thumps_up' a_id=dyns.id  %}" class="zan1"></a>
                                {% else %}
                                    <a href="{% url 'body:thumps_up' a_id=dyns.id %}" class="zan2"></a>
                                {% endif %}

                                <span style="position: absolute;margin-left: 35px;margin-top: -32px">{{ dyns.d_num }}</span>
                                </li>

                                <li>
                                   {% if u.id|love_art:dyns.id %}
                                        <a href="{% url 'body:Love_article' a_id=dyns.id  %}" class="like1"></a>
                                   {% else %}
                                        <a href="{% url 'body:Love_article' a_id=dyns.id %}" class="like2"></a>
                                   {% endif %}
                                    <span style="position: absolute;margin-left: 35px;margin-top: -24px">{{ dyns.d_like }}</span>
                                </li>

                                <li>

                                    <span class="move_font"></span>
                                    <span class="d_move">{{ dyns.d_move }}</span>
                                </li>

                            <li>
                                <span class="comm">评</span>
{#                                <a href="{% url 'body:get_aid' aid=dyns.id %}" class="comm">评</a>#}

                            </li>


                            </ul>

                        </div>



                        {% for comm in dyns.comment_set.all %}

                        <div id="comment_list" data-c-id="{{ forloop.counter1 }}">
                        {{ comm.c_content }}
                        </div>

                    {% endfor %}




                <form action="{% url 'body:move_text' a_id=dyns.id %}" method="post">
                    {% csrf_token %}


                        <div class="move_cont">
                             <textarea name="move_content" id="" cols="30" rows="10" style="width: 390px;height: 60px;border: 1px solid burlywood;"></textarea>           <input type="submit" value="转发">
                        </div>



                </form>
                    <form action="{% url 'body:Comment'  %} " method="post" class="comm_form">
                                    {% csrf_token %}
                                    <textarea name="comm_content" id="" cols="30" rows="10" style="width: 650px;height: 60px;"></textarea>
                                    <input value="{{ dyns.id }}" type="hidden" name="hidd">

                                    <input type="submit" value="提交">

                    </form>




                        <div class="lmlblog-post-like-list">

                            {% for i in  dyns.thumps_up_set.all  %}

                                <a href="#">{{ i.u.user_name }}</a>
                            {% endfor %}


                        </div>
                        <div class="lmlblog-post-footer-bar">
                            <span title="2017-12-14 05:25:48">12月14日 05:25</span>
                            <span>电脑端</span><i class="lmlblog-icon" onclick="lmlblog_post_type_open();">&#xe62c;</i>
                        </div>

                    </div>



                {% endfor %}


                <!-- 分页地点 -->
                <div class="lmlblog-pager"><a class="lmlblog-pager-left" href="#2">上一页</a>
                    <div class="lmlblog-pager-center layui-form">
                        <select>
                            <option value="#=1">第 1 页</option>
                            <option value="#=2">第 2 页</option>
                            <option selected="selected" value="#3">第 3 页</option>
                        </select>第 1 页
                    </div>
                    <a class="lmlblog-pager-right" href="#3">下一页</a></div>
            </div>
        </div>
    </div>
    <script src="{% static 'index/js/jquery-3.3.1.min.js' %}"></script>
    <script>
    $(function () {
    $('.comm_form').submit(function () {


        $.ajax({
            url: "{% url 'body:Comment' %}",
            type: 'POST',
            data: $(this).serialize(),
            cache: false,
            success: function (data) {
                // alert(data)
                if (data['status']=='SUCCESS'){
                    var comment_html = '<p>' + data['text'] + '</p>';

                }
            }
        });
        return false;
    });


    $()
});
    </script>
{% endblock %}